/* HEADING  */

#logo {
    font-size: 60px;
    color: darkred;
    /*font-family: 'Lily Script One', cursive;*/
    font-family: Impact, Charcoal, sans-serif;
    margin: 25px;
    margin-top: 100px;
    text-align: center;
    /*text-decoration:underline;*/
}

#menu {
    background-color: #F7F74A;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

#menu a {
    margin: 5px;
    text-decoration: none;
    /*font-family: "Times New Roman",Georgia,Serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkred;
    /*font-family: Impact, Charcoal, sans-serif;*/

}

#menu ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    left: 50%;
    position: relative;
    float: left;
    display: block;

}

#menu ul li {
    list-style: none;
    float: left;
    display: block;
    position:relative;
    border-right: darkred solid 1px;
    right: 50%;
}

#menu ul li:last-child {
    border-right: none;
}



/* CONTENTS */

body {
    /*max-width: 600px;*/
    /*border: 1px solid black;*/
    margin: 0 auto;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px black;

}

.main_body {
    background: lightgoldenrodyellow;
}

article {
    border-bottom-color: lightyellow;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background-color: lightgoldenrodyellow;
}

a {
    color: darkgray;
}

#tagline {
    color: black;
    text-align: center;
}

#main_content {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: lightgoldenrodyellow;
    /*margin: 20px 0 20px 0;*/
    padding: 10px;
}

h3 {

    font-family: Impact, Charcoal, sans-serif;
    color: darkred;
    margin-top: 0;
    margin-bottom: 0;
}
h4 {
    color: darkred;
}
/* FOOTER */

#footer {
    background-color: #F7F74A;
    border-top: 1px black solid;
    color: black;
    border-radius: 0 0 5px 5px;
}


/* SPECIAL ALERTS AND EFFECTS */

.error {
    color: red;
}
.welcome {
    color: green;
}
.faded {
    color: dimgray;
}

#users {
    border-bottom: 1px solid lightyellow;
    background-color: lightgoldenrodyellow;
}

blockquote {
    border-left-color: black;
}

blockquote.other_user {
    border-left-color: darkred;
}

.delete_post a:hover {
    background-color: red;
}

.edit_post a:hover {
    background-color: #F7F74A;
}

#menu ul li:hover {
    background-color: red;
}
