body {
    max-width: 600px;
    /*border: 1px solid black;*/
}

article {
    border-bottom-color: lightyellow;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background-color: lightgoldenrodyellow;
}

.error {
    color: red;
}

#logo {
    font-size: 40px;
    color: darkred;
    /*font-family: 'Lily Script One', cursive;*/
    font-family: Impact, Charcoal, sans-serif;
    margin: 25px;
    text-align: center;
}
a {
    color: darkgray;
}
#menu {
    background-color: yellow;
    border-bottom: 1px solid black;
    margin: 0 auto;
    font-family: 'Lily Script One', cursive;
    padding: 15px;
    text-align: center;
}

#menu a {
    margin: 5px;
    text-decoration: none;
    /*font-family: "Times New Roman",Georgia,Serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkred;
    font-family: Impact, Charcoal, sans-serif;
}

#tagline {
    color: black;
    text-align: center;
}

#main_content {
    background: lightgoldenrodyellow;
    margin: 20px;
    padding: 10px;
}

/*h3 {
    margin: 0 auto;
    margin-left: 5px;
    font-family: times, serif;
}*/

h3 {

    font-family: Impact, Charcoal, sans-serif;
    color: darkred;
}

.faded {
    color: dimgray;
}

#users {
    border-bottom: 1px solid lightyellow;
    background-color: lightgoldenrodyellow;
}

blockquote {
    border-left-color: darkred;
}